/build/
.DS_Store
/tmp/
/assets/.nicegui/storage-general.json
/assets/config/maa_option.json
/assets/debug/maa.log
/.idea/
/.vscode/
/target/
/vendor/
/var/
scratch/
app/node_modules/
app/dist/
/app/src-tauri/native/*
!/app/src-tauri/native/.gitkeep
